.hit-prodagy {
  text-align: center;
}

.hit-prodagy h1 {
  margin: 20px;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.product-card {
  width: 150px;
  height: 250px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 10px;
}

.shop-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}
